* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

button,
input,
textarea {
  font: inherit;
}
